body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #444;
  margin: 0;
  padding: 0;
  
  width: 100%;
  height: 100vh;
 
  background: #08B57B;
  background-image: linear-gradient(rgba(0, 132, 99, .7) .3em, transparent .3em), linear-gradient(90deg, rgba(0, 132, 99, .7) .3em, transparent .3em);
  background-size: 4em 4em;
  animation:100s scroll infinite linear;
}

@keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

a {
  text-decoration: none;
  color: #444;
}

.container {
  width: auto;
  height: 1280px;
  margin: 0 auto;
}

li {
  list-style: none;
}
#nav {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 5;
  height: 212px;
  transform: translateY(-490px);
}
.topnav{
  position: fixed;
  display: block;
  width: 100%;
  z-index: 5;
  height: 120px;
  transform: translateY(-475px);
}
.botnav{
  position: fixed;
  display: block;
  width: 100%;
  z-index: 5;
  height: 120px;
  transform: translateY(280px);
}
/*
* 
*/
.cubenav{
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: #6699FF;
  transform: translatex(-70px) translateY(-16px) skew(30deg);
  border-style: solid;
  border-color: black;
  border-width: 6px;
}
.cubenavOne{
  position: absolute;
  width: 50px;
  height: 200px;
  background-color: #6699FF;
  transform: translatex(0px) translateY(-16px);
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-right: #6699FF;
}
.cubenavTwo{
  position: absolute;
  width: 350px;
  height: 150px;
  background-color: blue;
  transform: translatex(-70px) translateY(10px) skew(30deg);
  border-style: solid;
  border-color: black;
  border-width: 6px;
}
.cubenavTwo img{
  transform: skew(-30deg) translateX(120px) translateY(20px);
  width: 150px;
  height: auto;
}

.cubenavThree{
  position: absolute;
  width: 700px;
  height: 19px;
  background-color: #6699FF;
  transform: translatex(387.5px) translateY(165px) skew(30deg);
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-left: #6699FF;
}
.cubenavFour{
  position: absolute;
  width: 40px;
  height:14.5px;
  background-color: #6699FF;
  transform: translatex(370px) translateY(172px);
}
.cubenavFive{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(1120px) translateY(165px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;

}
.cubenavSix{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(1195px) translateY(165px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;

}
.cubenavSeven{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(1270px) translateY(165px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;
}
/*
* Nav decoration right
*/
.rightCubenav{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 175px;
  height: 75px;
  background-color: #FFAAFF;
  transform: translatex(calc(100vw/2 *1.85)) translateY(-5px) skew(30deg);
  border-style: solid;
  border-color: black;
  border-width: 6px;
}
.rightCubenav img{
  transform: skew(-30deg) translateX(-70px) translateY(0px);
  width: 85px;
  height: 85px;
}
.rightCubenavOne{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 20px;
  height: 75px;
  background-color: #FFAAFF;
  transform: translatex(calc(100vw/2 *1.975)) translateY(-5px);
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-left: #FFAAFF;
}
.rightCubenavTwo{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: calc(100vw/2 *0.937);
  height: 19px;
  background-color: #FFAAFF;
  transform: translatex(calc(100vw/2 *0.896)) translateY(-5px) skew(30deg);
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-right: #FFAAFF;
}
.rightCubenavFive{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(calc(100vw/2 *0.64)) translateY(-5px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;

}
.rightCubenavSix{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(calc(100vw/2 *0.725)) translateY(-5px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;

}
.rightCubenavSeven{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(calc(100vw/2 *0.81)) translateY(-5px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;
}
/*
* botnav decoration
*/
.cubebotnav{
  position: absolute;
  width: 175px;
  height: 75px;
  background-color: #6699FF;
  transform: translatex(-26px) translateY(120px) skew(30deg);
  border-style: solid;
  border-color: black;
  border-width: 6px;
}
.cubebotnavOne{
  position: absolute;
  width: 50px;
  height: 75px;
  background-color: #6699FF;
  transform: translatex(0px) translateY(120px);
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-right: #6699FF;
}
.cubebotnavTwo{
  position: absolute;
  width: 130px;
  height: 75px;
  transform: translateX(5px) translateY(125px);
}
.cubebotnavTwo img{
  transform: translateX(10px) translateY(10px);
  width: 75px;
  height: auto;
}
.cubebotnavThree{
  position: absolute;
  width: 920px;
  height: 19px;
  background-color: #6699FF;
  transform: translatex(170px) translateY(176px) skew(30deg);
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-left: #6699FF;
}
.cubebotnavFive{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(1120px) translateY(176px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;

}
.cubebotnavSix{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(1195px) translateY(176px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;

}
.cubebotnavSeven{
  position: absolute;
  width: 38px;
  height: 19px;
  background-color: #94EF18;
  transform: translatex(1270px) translateY(176px) skew(30deg);
  border-style: solid;
  border-color: #528418;
  border-width: 6px;
}
/*
* Nav informations
*/
.logo_nav {
  margin-top: -2%;
  width: 300px;
  z-index: 2;
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 1%;
  margin-left: 10%;
  margin-top: 3.7%;
  transform: rotate(-90deg);
}

.menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.menutitle{
  position: relative;
  display: flex;
}
.titlemove{
  transform: translateX(calc(100vw/2 *0.65)) translateY(50px);
}
.type{
  position: relative;
  display: flex;
  flex-direction: row;
  transform: translateX(40px);
}
.move{
  transform: translateY(-90px) translateX(-50px);
}
.ribbonone{
  transform: translateY(5px);
}
.ribbontwo{
  transform: translateY(2px);
}
.ribbonthree{
  transform: translateY(-5px);
}
.value {
    width: 200px;
    height: 18px;
    transform: skew(30deg) translateX(-20px) translateY(5px);
    background: #393939;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 6px;
    display: flex;
    justify-content: center;
  }
.value p{
  transform: skew(-30deg);
  margin-top: 0px;
  margin-left: 5px;
  color: black;
}
.tinyone{
  margin-right: 10px;
}
.valuetiny {
  width: 75px;
  height: 20px;
  transform: skew(30deg) translateX(-20px);
  background: #393939;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 6px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.valuetiny p{
  transform: skew(-30deg);
  margin-top: 0px;
  margin-left: 5px;
  color: black;
}
.titlevalue {
  width: 200px;
  height: 30px;
  transform: skew(30deg) translateX(-20px);
  background: #393939;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 6px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.titlevalue h2{
  transform: skew(-30deg);
  margin-top: 0px;
  color: black;
}
.ribbon{
  height: 40px;
  transform:translateX(-20px);
}
.translatone{
  transform:translateX(-80px);
}
.translatsec{
  transform:translateX(-40px);
}
.menu.open .menu-item:nth-child(0) {
  transform: translateX(calc(100vw / 10 * 1));
}
.menu.open .menu-item:nth-child(2) {
  transform: translateX(calc(100vw / 10 * 1));
}

.menu.open .menu-item:nth-child(3) {
  transform: translateX(calc(100vw / 10 * 2));
}

.menu.open .menu-item:nth-child(4) {
  transform: translateX(calc(100vw / 10 * 3));
}

.menu.open .menu-item:nth-child(4) {
  transform: translateX(calc(100vw / 10 * 3));
}

.hero {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.hero_who {
  width: 60%;
  z-index: -10;
}

.sub_hero {
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
}

.txt1 {
  width: 60%;
  font-size: 1.2rem;
  margin-top: 15%;
  text-align: right;
  min-width: 40%;
  margin-right: -10%;
  z-index: 2;
}

.plus {
  padding: 10%;
}

.safety_run {
  width: 40%;
  margin-top: -10%;
}

#footer {
    bottom: 20px;
    position: fixed;
    display: block;
    width: 100%;
    z-index: 5;
  }

.footer {
  margin: 2%;
  background: #fff;
}

.footer_brand {
  margin-top: -2.5%;
  margin-left: 5%;
  background: #fff;
}

.footer_logo {
  width: 3%;
  min-width: 3%;
  background: #fff;
}

.footer_contact {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.5%;
  background: #fff;
}



.lou,
.affiches {
  margin-top: 50px;
  margin-left: 10px;
}

.yacine {
  margin-top: 50px;
  padding-left: 500px;
}

.fp-tooltip.fp-right {
  color: black !important;
  font-weight: bold;
}

.mainShop{
text-align: center;
}

.wipPicture{
width: 15%;
height: inherit;
}
